{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simpler Banking</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home\styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-left">
                <h1>Simpler Banking</h1>
            </div>
            <div class="header-right">
                <button class="button">Login</button>
                <button class="button">Register</button>
                
            </div>
        </div>
    </header>
    
    <div class = "main">
        <div class="main-container-left">
            <h1>Welcome to Simpler Banking</h1>
            <p>Thanks to Simpler Banking, You can effortlessly manage your bank accounts.</p>
        </div>
        <div class="main-container-right">
            <img class="bank-image" src="{% static 'home\bank-building.png' %}" alt="BankingBuildingImage">
        </div>
    </div>
</body>
</html>