{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Simpler Banking Home</title>
<link rel="stylesheet" type="text/css" href="{% static 'home\styles.css' %}">
{% endblock %}

{% block main %}
<div class = "main">
        
    <div class="main-container-left">
        <h1>Welcome to Simpler Banking</h1>
        <p>Thanks to Simpler Banking, You can effortlessly manage your bank accounts.</p>
    </div>
     <div class="main-container-right">
        <img class="bank-image" src="{% static 'home\bank-building.png' %}" alt="BankingBuildingImage">
    </div>
</div>
{% endblock %}
