{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Simpler Banking Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'home\styles.css' %}">
{% endblock %}


{% block main %}
<div class = "main">
    <div class="main-container-left">
        <h1>Login Page</h1>
        <form method="POST" action="{% url 'banking:login' %}" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign In</button>
        </form>
        </div>
</div>
{% endblock %}