{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Simpler Banking Register</title>
<link rel="stylesheet" type="text/css" href="{% static 'home\styles.css' %}">
{% endblock %}


{% block main %}
<div class = "main">
    <div class="main-container-left">
        <h1>User Register</h1>
        <form method="POST" >
            {% csrf_token %}
            {{registration_form.as_p}}
            <button type="submit">Create Account</button>
        </form>
        </div>
</div>
{% endblock %}
